.title-img {
  margin: 3rem 0 0 0;
  width: 40vw;
}

.content-container, .web-dev, .website-container, .python-container, .python-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web-dev-title {
  margin-top: 1rem;
}

.website-container {
  margin-bottom: 4rem;
}

.building-web-container {
  margin-bottom: 7rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.more-button {
  margin: 0 1rem;
  font-size: 1.4rem;
}

.python-links {
  margin-bottom: 3rem;
}

.python-links a {
  color: black;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  transition: all .3s;
  text-align: center;
}

.python-links a:hover {
  color: #3D99AB;
}

@media screen and (max-width: 900px) {
  h3 {
    font-size: 1.5rem;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .red-title {
    font-size: 2rem;
  }

  .more-button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .web-dev-title {
    margin-bottom: 2.5rem;
  }
  
  .building-web-container {
    margin-bottom: 4rem;
  }

  .future-container {
    margin-bottom: 3rem;
  }
  
  .more-button {
    font-size: 1rem;
    margin: 0 0.5rem;
  }

  .python-links {
    width: 80vw;
    margin: 0 auto;
  }

  .python-links a {
    font-size: 1.3rem;
  }
}