* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F3DFB5;
}

a, h1, h2, h3, p {
  font-family: 'Rozha One', serif;
}

/* images would become blurry after transforming the scale, found this to fix it  https://stackoverflow.com/questions/36787529/how-to-fix-blurry-image-on-transform-scale*/
img {
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.content-container {
  position: relative;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 15px; */
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

header h1 {
  color: white;
  margin: 0;
  font-size: 2rem;
}

.last-name {
  margin-left: 8px;
}

.name-container i {
  margin-left: 10px;
  transition: all 1s;
}

.name-container:hover {
  cursor: pointer;
}

.name-container:hover i {
  transform: rotate(360deg);
  animation-name: rainbow;
  animation-duration: 1s;
}

.name-container i, .phone-menu-icons i {
  font-size: 1.5rem;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 23rem;
  margin-right: 25px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  transition: all .3s;
}

header a:hover {
  color: #F3DFB5;
}

.phone-menu-icons {
  display: none;
  margin-right: 15px;
}

#open-menu:hover,
#close-menu:hover {
  cursor: pointer;
}

#drop-down {
  width: 100%;
  top: 4rem;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(36, 35, 35, 0.9);
  display: none;
  padding: 10px 0;
}

.hero-img {
  width: 100%;
  height: auto;
}

.intro-container {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 40vw;
  height: auto;
  clip-path: circle(50% at 50% 50%);
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  margin-left: 50px;
}

.intro-text p {
  font-size: max(3vw, 1.5rem);
}

.artwork-container, .photography-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-img {
  width: max(35vw, 300px);
  height: auto;
  margin: 4rem 0 2rem 0;
}

.artwork-examples, .photography-examples {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.artwork-img-container, .photography-img-container {
  width: 20vw;
  height: 30vw;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.preview-img {
  height: 100%;
  width: auto;
  transition: all 0.3s;
}

.artwork-img-container:hover .preview-img, .photography-img-container:hover .preview-img {
  transform: scale(1.05);
}

.middle-img {
  margin: 0 3vw;
}

.more-button {
  background-color: #78D3C5;
  text-decoration: none;
  color: black;
  padding: 15px 25px;
  border-radius: 40px;
  font-size: 2rem;
  margin-top: 2rem;
  transition: all .4s;
  z-index: 2;
}

.more-button:hover {
  background-color: #3D98AA;
}

.photography-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photography-img {
  width:  max(45vw, 325px);
  height: auto;
  margin: 4rem 0 .5rem 0;
}

.coding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coding-img {
  width: max(30vw, 250px);
  height: auto;
  margin-top: 5rem;
}

.red-title {
  color: #E1515F;
  font-size: max(5vw, 2.2rem);
}

.skills-container {
  display: flex;
}

.skill-names {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skill-names h3 {
  font-size: 2.5rem;
  margin: 2.5rem 2.5rem 0 0;
}

.skills-stars {
  display: flex;
  align-items: center;
}

.skills-stars i {
  font-size: 3.5rem;
  margin-top: 2.4rem;
  transition: all .3s;
}

#python-stars:hover .fas {
  color: #F3A3AD
}

#html-stars:hover .fas {
  color: #F6AA35;
}

#css-stars:hover .fas {
  color: #58C18B;
}

#wordpress-stars:hover .fas {
  color: #79D4C7;
}

#javascript-stars:hover .fas {
  color: #3D99AB;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container .red-title {
  margin: 9vw 0 6vw 0;
}

.coding-img-container {
  width: 70vw;
  height: auto;
  margin: 0 auto 2rem auto;
  overflow: hidden;
}

.coding-img-container-1 {
  margin-bottom: 8vw;
}

.project-img {
  width: 70vw;
  height: auto;
  transition: all 0.3s;
}

.contact-div {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.contact-div i {
  font-size: 3rem;
  color: black;
  transition: all .3s;
}

.contact-div a {
  z-index: 20;
}

.insta-icon:hover i {
  color: #E2505E;
}

.facebook-icon {
  margin: 0 1rem;
}

.facebook-icon:hover i {
  color: #3D99AB;
}

.mail-icon:hover i {
  color: #F6AA35;
}

footer img {
  margin: -10vw 0 0 0;
  width: 100%;
  display: block;
}

@keyframes rainbow {
  0% {
    color: white;
  }

  7.5% {
    color: #F9D1D6;
  }

  15% {
    color: #F3A3AD;
  }

  22.5% {
    color: #EB7A86;
  }

  30% {
    color: #E2505E;
  }

  37.5% {
    color: #EC7D4A;
  }

  45% {
    color: #F6AA35;
  }

  52.5% {
    color: #A7B660;
  }

  60% {
    color: #58C18B;
  }

  67.5% {
    color: #69CBA9;
  }

  75% {
    color: #79D4C7;
  }

  82.5% {
    color: #5BB7B9;
  }

  90% {
    color: #3D99AB;
  }

  95% {
    color: #9ECCD5;
  }

  100% {
    color: white;
  }
}

@media screen and (max-width: 760px) {
  .last-name {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  nav {
    display: none;
  }
  
  .phone-menu-icons {
    display: inline;
  }

  #close-menu {
    display: none;
  }

  .intro-container {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  .profile-img {
    width: 50vw;
  }

  .intro-text {
    margin: 0;
    width: 80vw;
  }

  .intro-container p {
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
  }

  .middle-img {
    margin: 0;
  }

  .skill-names h3 {
    font-size: 2rem;
    margin-top: 2.1rem;
  }

  .skills-stars i {
    font-size: 2.5rem;
  }

  .artwork-container .more-button, .photography-container .more-button, .coding-container .more-button {
    margin-top: 0;
  }

  .artwork-img-container, .photography-img-container {
    width: 25vw;
    height: 38vw;
  }
}

@media screen and (max-width: 500px) {
  .intro-text p {
    font-size: 1.5rem;
  }
  
  .skills-title {
    margin: 0;
  }

  .skill-names h3 {
    font-size: 1.3rem;
    margin: 2.35rem 1.5rem 0 0;
  }
  
  .skills-stars i {
    font-size: 1.8rem;
  }

  .more-button {
    font-size: 1.3rem;
    padding: 10px 18px;
  }
}